<html>
    <head>
        <title>
            <%=title%>
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Gooogle Auth-->
        
        <meta name="google-signin-client_id" content="15064425583-h6gqtm6l884069s03jtuvn8v892u1ukj.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        
        <link rel='stylesheet' href='/stylesheets/admindashboard.css' />
        <!-- Font Awesome -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
        <!-- MDB -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css" rel="stylesheet" />
        <!-- MDB -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
      
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>

        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.2/css/buttons.dataTables.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <style>
          #tohideip{
            display: none;
          }
        </style>

        

        <script src="/javascripts/fetchschedule.js"></script>

    </head>
    <body>
        <!--Main Navigation-->
<header>
    <!-- Sidebar -->
    <nav
         id="sidebarMenu"
         class="collapse d-lg-block sidebar collapse bg-white"
         >
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a
             href="/admin/admindashboard"
             class="list-group-item list-group-item-action py-2 ripple"
             aria-current="true"
             >
            <i class="fas fa-tachometer-alt fa-fw me-3"></i
              ><span>Main dashboard</span>
          </a>
          
          <a
             href="/admin/showproducts"
             class="list-group-item list-group-item-action py-2 ripple"
             ><i class="fas fa-users fa-fw me-3"></i><span>Show Products</span></a
            >

            <a
            href="/admin/adddoctorAdmin"
            class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fa fa-address-card fa-fw me-3"></i><span>Check Doctor</span></a
           >

            <a
            href="/admin/adduser"
            class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fa fa-group fa-fw me-3"></i><span>Check User</span></a
           >

           <a
            href="/admin/loadchemist"
            class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fa fa-group fa-fw me-3"></i><span>Check Chemist</span></a
           >

           <a
            href="/admin/loadstockist"
            class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fa fa-group fa-fw me-3"></i><span>Check Stockist</span></a
           >


           <a
            href="/admin/approveSchedulePage"
            class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fa fa-calendar-check-o fa-fw me-3"></i><span>Approve Schedule</span></a
           >

           <a
            href="/admin/fetchSchedule"
            class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fa fa-calendar fa-fw me-3"></i><span>All User's Schedule</span></a
           >

           <a
            href="/admin/getdcr"
            class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fa fa-calendar fa-fw me-3"></i><span>Add DCR</span></a
           >
          
           <a
            href="/admin/getproductimage"
            class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fa fa-file-image-o fa-fw me-3"></i><span>Product Images</span></a
           >

           <a
              href="/admin/changepswd"
              class="list-group-item list-group-item-action py-2 ripple"
              ><i class="fa fa-fingerprint fa-fw me-3"></i><span>Change Password</span></a
             >
            
          
        </div>
      </div>
    </nav>
    <!-- Sidebar -->
  
    <!-- Navbar -->
    <nav
         id="main-navbar"
         class="navbar navbar-expand-lg navbar-light bg-white fixed-top"
         >
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#sidebarMenu"
                aria-controls="sidebarMenu"
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
          <i class="fas fa-bars"></i>
        </button>
  
        <!-- Brand -->
        <a class="navbar-brand" href="#">
          Admin
        </a>
  
        <!-- Right links -->
        <ul class="navbar-nav ms-auto d-flex flex-row">
          <!-- Notification dropdown -->
  
  
          <!-- Icon dropdown -->
          <li class="nav-item dropdown">
            <a
               class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow"
               href="#"
               id="navbarDropdown"
               role="button"
               data-mdb-toggle="dropdown"
               aria-expanded="false"
               >
              <i class="united kingdom flag m-0"></i>
            </a>
          </li>
          <li class="nav-item" style="display: flex;align-items: center;">
                <%=adminemail%>
          </li>
          <!-- Avatar -->
          <li class="nav-item dropdown">
            
            <a
               class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
               href="#"
               id="navbarDropdownMenuLink"
               role="button"
               data-mdb-toggle="dropdown"
               aria-expanded="false"
               >
              <img
                   src="https://media.istockphoto.com/id/1250021058/photo/neon-3d-font-blue-and-pink-neon-light-3d-rendering-letter-a.jpg?b=1&s=170667a&w=0&k=20&c=gguTWbSct8UCe-oExgUwrbo3OSy0IcSlQEwQOE8osJo="
                   class="rounded-circle"
                   height="22"
                   alt=""
                   loading="lazy"
                   />
            </a>
            <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="navbarDropdownMenuLink"
                >
              <li><a class="dropdown-item" href="/admin/profile">My profile</a></li>
              <li><a class="dropdown-item" href="/admin/adminlogout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </header>
  <!--Main Navigation-->
  
  <!--Main layout-->
  <main style="margin-top: 58px">
    <div class="container pt-4">
      <!-- Section: Main chart -->
      
      <!-- Section: Main chart -->
  
      <!--Section: Sales Performance KPIs-->
      <section class="mb-4">
        <div class="card">
            <div class="card-header text-center py-3">
              <h5 class="mb-0 text-center">
                Select Range
              </h5>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover text-nowrap">
                    <form action="/admin/getFinalScheduleData" method="post">
                        
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <select class="select form-control" id="approval" name="approval" required>
                                    <option value disabled selected>Select Status</option>
                                    <option value = "Approved">Approved</option>
                                    <option value = "Pending">Pending</option>
                                    <option value = "Declined">Declined</option>
                                    
                                </select>
                            </div>
                            <div class="col-md-6 mb-4">
                                <select class="select form-control" id="useremail" name="useremail" required onchange = "getyear(this)">
                                    <option value disabled selected>Select User Email</option>
                                    
                                </select>
                            </div>
                            <div class="col-md-6 mb-4">
                                <select class="select form-control" id="yearuser" name="yearuser" required onchange="getmonth(this)">
                                    <option value disabled selected>Select Year</option>
                                    
                                </select>
                            </div>

                            <div class="col-md-6 mb-4">
                                <select class="select form-control" id="monthuser" name="monthuser" required onchange="getdate(this)">
                                    <option value disabled selected>Select Month</option>
                                    
                                </select>
                            </div>
                            <div class="col-md-6 mb-4">
                                <select class="select form-control" id="datestartrange" name="datestartrange" required onchange="getenddate(this)">
                                    <option value disabled selected>Select Starting Date</option>
                                    
                                </select>
                                
                            </div>
                            <div class="col-md-6 mb-4">
                                <select class="select form-control" id="dateendrange" name="dateendrange" required >
                                    <option value disabled selected>Select Ending Date</option>
                                    
                                </select>
                                
                            </div>
                            <div class="col-md-6 mb-4">
                              <select class="select form-control" id="checking" name="checking" required >
                                  <option value="" disabled selected>Include DCR ?</option>
                                  <option required value="yes">YES</option>
                                  <option required value="no">NO</option>
                                  
                              </select>
                              
                          </div>
                        </div>
                            
                            <div class="row">
                              <div class="d-flex justify-content-center pt-3">
                                  <button type="reset" class="btn btn-light btn-lg">Reset all</button>
                                  <button type="submit" id="submit-btn" class="btn btn-warning btn-lg ms-2">Get Details</button>
                              </div>
                            </div>
                            
                        

                    </form>
                    

                </table>
              </div>
            </div>
          </div>
        <div class="card">
          <div class="card-header text-center py-3">
            <h5 class="mb-0 text-center">
              <strong>Schedule</strong>
            </h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover text-nowrap" id="user-table">
                <thead >
                  <tr id = "tthead">
                    <th scope="col">User Email</th>
                    <th scope="col">Date</th>
                    
                    <th scope="col">Schedulded Doctor</th>
                    <th scope="col">Time</th>
                    <th scope="col">Visited Doctor</th>
                    <th scope="col">Visited Time</th>
                    <th scope="col">Approval Status</th>
                    <th scope="col">Work</th>
                    <th scope="col">Remark</th>           


                  </tr>
                </thead>
              
                <tbody>
                    <% data.map((item)=>{  %>
                      <tr id = "ttrow">
                          <td scope="row"><%=item.email%></td>
                          <td scope="row"><%=item.date%>-<%=item.month%>-<%=item.year%></td>
                          
                          <td scope="row"><%=item.doctor%></td>
                          <td scope="row"><%=item.time%></td>
                          <td scope="row"><%=item.actdoctor%></td>
                          <td scope="row"><%=item.acttime%></td>
                          <td scope="row"><%=item.status%></td>
                          <td scope="row"><%=item.task%></td>
                          <td scope="row"><%=item.remarks%></td>
                          
                                  
                          
                      </tr>
                      <% }) %>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
      
    </div>

    

  </main>
  
      <script>
        $(document).ready(function() {
        $('#user-table').DataTable( {
            dom: 'Bfrtip',
            buttons: [
            {
              extend: "pdfHtml5",
              orientation: "landscape",
              pageSize: "A4", // You can also use "A1","A2" or "A3", most of the time "A3" works the best.
              text: "PDF",
              titleAttr: "PDF",
            },
            "excel",
            "copy",
          ],
        } );
    } );
      </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>

    <script>

      /* For  getting the emails of the users */
      $(document).ready(function(){

        $.getJSON('/admin/getuserappapi',function(data){

          $('#useremail').empty()
          $('#useremail').append($('<option value selected disabled>').text('Select User Email'))
          data.map((item)=>{
              $('#useremail').append($('<option>').text(item.email).val(item.email))
          })

          
            
        })
    

  
        })  
    </script>
  <!--Main layout-->
    </body>
</html>