<html>

<head>
  <title>
    Products
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Gooogle Auth-->

  <meta name="google-signin-client_id"
    content="15064425583-h6gqtm6l884069s03jtuvn8v892u1ukj.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <link rel='stylesheet' href='/stylesheets/admindashboard.css' />
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css" rel="stylesheet" />
  <!-- MDB -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>

  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.2/css/buttons.dataTables.min.css">

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <style>

    /* Hiding IP block */
    .tohideip {
      display: none;
    }

    /* For Display Border on the Input Text box*/
    .textBox{
      border : 1px solid rgb(201, 201, 201);
      border-radius: 5px;
      
    }

  </style>

  
  <script src="/javascripts/showproducts2.js"></script>



</head>

<body>
  <!--Main Navigation-->
  <header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a href="/showdashboard" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main dashboard</span>
          </a>

          <a href="/showproducts" class="list-group-item list-group-item-action py-2 ripple"><i
              class="fas fa-users fa-fw me-3"></i><span>Show Products</span></a>

          <a href="/createSchedule" class="list-group-item list-group-item-action py-2 ripple"><i
              class="fas fa-calendar fa-fw me-3"></i><span>Create Schedule</span></a>

          <a href="/getSchedule" class="list-group-item list-group-item-action py-2 ripple"><i
              class="fas fa-calendar-check-o fa-fw me-3"></i><span>Get Schedule</span></a>

          <a href="/getdcr" class="list-group-item list-group-item-action py-2 ripple"><i
              class="fas fa-calendar-check-o fa-fw me-3"></i><span>ADD DCR</span></a>

              <a href="/changePswd" class="list-group-item list-group-item-action py-2 ripple"><i
                class="fas fa-fingerprint fa-fw me-3"></i><span>Change Password</span></a>


        </div>
      </div>
    </nav>
    <!-- Sidebar -->

    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
          aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>

        <!-- Brand -->
        <a class="navbar-brand" href="#">
          User
        </a>

        <!-- Right links -->
        <ul class="navbar-nav ms-auto d-flex flex-row">
          <!-- Notification dropdown -->


          <!-- Icon dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" href="#" id="navbarDropdown" role="button"
              data-mdb-toggle="dropdown" aria-expanded="false">
              <i class="united kingdom flag m-0"></i>
            </a>
          </li>
          <li class="nav-item" style="display: flex;align-items: center;">
            <%=adminemail%>
          </li>
          <!-- Avatar -->
          <li class="nav-item dropdown">

            <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
              id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
              <img
                src="https://media.istockphoto.com/id/1231978424/vector/bended-line-letter-logotype-u.jpg?s=612x612&w=0&k=20&c=SPItVL93FBxNVSxtJdUOoSTQ7uekxeMZ1qXwE2-Oi8M="
                class="rounded-circle" height="22" alt="" loading="lazy" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/getprofile">My profile</a></li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main style="margin-top: 58px">
    <div class="container pt-4">
      <!-- Section: Main chart -->

      <!-- Section: Main chart -->

      <!--Section: Sales Performance KPIs-->
      <section class="mb-4">
        <div class="card">
          <div class="card-header text-center py-3">
            <h5 class="mb-0 text-center">
              Add Products
            </h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover text-nowrap">
                <form action="/addproduct" method="post">
                  <div class="row">
                   

                    <div class="row">

                      <!-- Getting Doctor Contact-->
                      <div class="col-md-6 mb-4">
                        Doctor Contact
                        <div class="form-outline textBox" >
                          <input type="text" required id="dcontact" name="dcontact" class="form-control form-control-lg" /
                          oninput="areafiller()" >
                        </div>
                      </div>

                      <!-- Getting Doctor Name -->
                      <div class="col-md-6 mb-4">
                        Doctor Name
                        <div class="form-outline textBox">
                          <input type="text" required id="doctorname" name="doctorname" class="form-control form-control-lg" /
                            readonly value="Enter Contact Number !">
                        </div>
                      </div>

                      <!-- Getting Doctor Area-->
                      <div class="col-md-6 mb-4">
                        Doctor Area
                        <div class="form-outline textBox">
                         
                            <input type="text" required id="darea" name="darea" class="form-control form-control-lg" /
                              readonly value = "Enter Contact Number !">
                         
                        </div>
                      </div>

                      <!-- Product Name-->
                      <div class="col-md-6 mb-4">
                        Product Name
                        <div class="form-outline textBox">
                          <input type="text" required id="productname" name="productname"
                            class="form-control form-control-lg" />
                          
                        </div>
                      </div>

                      <div class="row"></div>

                      <!-- Chemist Number-->
                      <div class="col-md-6 mb-4">
                        Chemist Contact Number
                        <div class="form-outline textBox" >
                          <input type="text" required id="chemistphone" name="chemistphone" class="form-control form-control-lg" /
                          oninput="contactfillerChemist()" >
                        </div>
                      </div>


                      <!-- Chemsit Name-->
                      
                      <div class="col-md-6 mb-4">
                        Chemist Name
                        <div class="form-outline textBox" >
                          <input type="text" required id="chemistname" name="chemistname" class="form-control form-control-lg" /
                          readonly value = "Enter Contact Number !">
                        </div>
                      </div>

                    </div>

                    <div class="row">

                      <!-- Stockist Phone-->
                      <div class="col-md-6 mb-4">
                        Stockist Contact Number
                        <div class="form-outline textBox" >
                          <input type="text" required id="stockistphone" name="stockistphone" class="form-control form-control-lg" /
                          oninput="contactfillerStockist()" >
                        </div>
                      </div>

                      <!-- Stockist Name-->
                      <div class="col-md-6 mb-4">
                        Stockist Name
                        <div class="form-outline textBox" >
                          <input type="text" required id="stockistname" name="stockistname" class="form-control form-control-lg" /
                          readonly value = "Enter Contact Number !">
                        </div>

                        <!-- Hidden Ip Storing Block-->
                      </div>
                      
                      <div id="tohideip" class="tohideip">
                        <input type="text" required id="ip" name="ip" class="form-control form-control-lg" />
                       
                      </div>

                      <!-- Date of Registration of Product-->
                      <div class="col-md-6 mb-4">
                        Date
                        <div class="form-outline textBox">
                          <input type="date" required id="date" name="date" class="form-control form-control-lg" />
                        </div>

                      </div>

                    </div>
                    <div class="row">

                      <!-- User Email-->
                      <div class="col-md-6 mb-4">
                        Employee Email
                        <div class="form-outline textBox" >
                          <input type="text" required id="employeename" name="employeename"
                            class="form-control form-control-lg" readonly value=<%=username %>>
                        </div>
                      </div>

                      <!-- Working Under-->
                      <div class="col-md-6 mb-4">
                        Working Under
                        <select class="select form-control" id="workingwith" name="workingwith" required>
                          <option value="" disabled selected>Working With</option>

                        </select>
                      </div>
                    </div>

                    <!-- Submit Buttons-->
                    <div class="row">
                      <div class="d-flex justify-content-center pt-3">
                        <button type="reset" class="btn btn-light btn-lg">Reset all</button>
                        <button type="submit" id="submit-btn" class="btn btn-warning btn-lg ms-2">Submit form</button>
                      </div>
                    </div>

                    <!-- Prevent from submitting with no particular doctor, stockist and chemist -->
                    <input type="text" name="formblockerd" id="formblockerd" class="tohideip" required value = "">
                    <input type="text" name="formblockerc" id="formblockerc" class="tohideip" required value = "">
                    <input type="text" name="formblockers" id="formblockers" class="tohideip" required value = "">

                </form>
              </table>
            </div>
          </div>
        </div>

        <!-- Data Section-->
        <div class="card">
          <div class="card-header text-center py-3">
            <h5 class="mb-0 text-center">
              <strong>Products</strong>
            </h5>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover text-nowrap" id="user-table">
                <thead>
                  <tr>
                    <th scope="col">Doctor Name</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Chemist Name</th>
                    <th scope="col">Stockist Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Employee Email</th>
                    <th scope="col">Working With</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Table Data -->

                  <% data.map((item)=>{ %>
                    <tr>
                      <td scope="row">
                        <%=item.doctorname%>
                      </td>
                      <td scope="row">
                        <%=item.productname%>
                      </td>
                      <td scope="row">
                        <%=item.chemistname%>
                      </td>
                      <td scope="row">
                        <%=item.stockistname%>
                      </td>
                      <td scope="row">
                        <%=item.date%>
                      </td>
                      <td scope="row">
                        <%=item.employeename%>
                      </td>
                      <td scope="row">
                        <%=item.workingwith%>
                      </td>

                      <!-- Delete Button -->
                      <td scope="row"><a class="btn btn-danger"
                          href="/deleteproduct?productid=<%=item.productid%>&adder=<%=adminemail%>">Delete</a></td>
                    </tr>
                    <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>

  <!--Main layout-->

  <script>

    // Api for downloading the data from the table
    $(document).ready(function () {
      $('#user-table').DataTable({
        dom: 'Bfrtip',
        buttons: [
        {
          extend: "pdfHtml5",
          orientation: "landscape",
          pageSize: "A4", // You can also use "A1","A2" or "A3", most of the time "A3" works the best.
          text: "PDF",
          titleAttr: "PDF",
        },
        "excel",
        "copy",
      ],
      });



      $('#doctorname').css('border','1px solid red');
      $('#chemistname').css('border','1px solid red');
      $('#stockistname').css('border','1px solid red');

      /* For Getting the IP Address of the User */
    $(document).ready(function () {

      $.getJSON("https://api.ipify.org?format=json", function (data) {
        $('#ip').val(data.ip)

      })

      })
    });

    $(document).ready(function () {


    /*For Getting the Admin Names */
    $.getJSON('/getworkingwith', function (data) {
        $('#workingwith').empty()
        $('#workingwith').append($('<option value selected disabled>').text('Select Working With'))
        data.map((item) => {
            $('#workingwith').append($('<option>').text(item.name).val(item.name))
        })
    })


    })
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</body>

</html>